In [1]:
import random
import numpy as np
import pandas as pd

In [2]:
# STEP- 1: CREATING THE TEMPERATURE FOR 30 DAYS
temp = np.linspace(34,42,30)
temp = list(temp)
l = []
for t in temp:
    l.append(round(t,2))
temp = np.array(l)

s1 = pd.Series(temp)
s1.describe()

count    30.000000
mean     38.000000
std       2.428019
min      34.000000
25%      36.000000
50%      38.000000
75%      40.000000
max      42.000000
dtype: float64

In [3]:
# STEP -2: HUMIDITY CHART
h1 = np.linspace(85,99,28)
h1 = list(h1)
l = []
for h in h1:
    l.append(round(h,2))
h1 = np.array(l)

s2 = pd.Series(h1)
s2.describe()

count    28.000000
mean     92.000000
std       4.264766
min      85.000000
25%      88.500000
50%      92.000000
75%      95.500000
max      99.000000
dtype: float64

In [4]:
# STEP - 3: WIND SPEED
w1 = np.linspace(10, 19, 18)
w1 = list(w1)
l = []
for w in w1:
    l.append(round(w,2))
w1 = np.array(l)

s3 = pd.Series(w1)
s3.describe()
s3

0     10.00
1     10.53
2     11.06
3     11.59
4     12.12
5     12.65
6     13.18
7     13.71
8     14.24
9     14.76
10    15.29
11    15.82
12    16.35
13    16.88
14    17.41
15    17.94
16    18.47
17    19.00
dtype: float64

In [5]:
# STEP 4: CREATING A RANDOM MANIPULATED DATASET
l1 = []
i = 0
while i <= 150:
    r = random.choice(temp)
    
    if r <= 36:
        
        r1 = random.uniform(h1[0], h1[7])
        r2 = random.uniform(w1[12], w1[17])
        r1 = round(r1,2)
        r2 = round(r2,2)
        l2 = [r, r1, r2]
        l1.append(l2)
        i += 1
    if r > 36 and r <= 38:
        
        r1 = random.uniform(h1[6], h1[14])
        r2 = random.uniform(w1[8], w1[12])
        r1 = round(r1,2)
        r2 = round(r2,2)
        l2 = [r, r1, r2]
        l1.append(l2)
        i += 1
    if r > 38 and r <= 40:
        
        r1 = random.uniform(h1[15], h1[27])
        r2 = random.uniform(w1[4], w1[9])
        r1 = round(r1,2)
        r2 = round(r2,2)
        l2 = [r, r1, r2]
        l1.append(l2)
        i += 1
    if r > 40 and r <= 42:
        
        r1 = random.uniform(h1[5], h1[10])
        r2 = random.uniform(w1[0], w1[4])
        r1 = round(r1,2)
        r2 = round(r2,2)
        l2 = [r, r1, r2]
        l1.append(l2)
        i += 1
   
        
l1

[[37.59, 89.45, 14.45],
 [41.45, 89.68, 10.4],
 [35.66, 85.13, 17.11],
 [36.76, 90.63, 14.27],
 [34.0, 85.78, 17.68],
 [36.48, 88.69, 14.71],
 [40.62, 89.5, 10.03],
 [38.69, 97.97, 13.62],
 [37.31, 91.82, 15.7],
 [38.69, 98.82, 14.14],
 [37.86, 88.34, 14.99],
 [41.72, 88.2, 12.07],
 [35.93, 88.57, 17.76],
 [40.9, 89.29, 10.41],
 [40.62, 89.7, 10.83],
 [40.34, 89.37, 11.04],
 [37.86, 88.13, 16.25],
 [40.9, 87.85, 11.53],
 [34.55, 86.64, 16.88],
 [39.52, 96.59, 14.23],
 [40.07, 88.44, 11.95],
 [39.24, 98.75, 13.67],
 [35.93, 86.53, 18.81],
 [40.07, 87.85, 10.5],
 [37.31, 92.22, 15.34],
 [35.93, 88.11, 17.14],
 [41.72, 88.81, 11.22],
 [42.0, 88.95, 11.05],
 [40.07, 88.24, 10.62],
 [40.07, 88.27, 11.0],
 [37.59, 88.34, 15.63],
 [39.79, 95.95, 14.16],
 [40.07, 89.65, 10.25],
 [38.69, 95.15, 13.37],
 [38.41, 93.47, 14.65],
 [39.79, 95.65, 13.14],
 [39.52, 95.19, 13.02],
 [38.41, 95.33, 13.62],
 [39.24, 97.65, 13.19],
 [40.9, 88.69, 11.07],
 [37.86, 88.36, 14.63],
 [40.34, 89.03, 11.96],
 [40.9, 88.81, 11.16],
 [35.38, 86.97, 17.52],
 [40.9, 89.13, 10.97],
 [37.86, 90.38, 14.81],
 [40.34, 90.01, 11.52],
 [37.59, 89.04, 14.92],
 [34.83, 88.6, 16.73],
 [35.1, 86.9, 17.71],
 [41.45, 89.4, 10.76],
 [41.72, 87.85, 10.48],
 [34.0, 86.41, 18.46],
 [40.9, 88.6, 10.02],
 [41.45, 88.56, 10.57],
 [34.83, 87.22, 16.72],
 [36.21, 91.75, 15.48],
 [38.41, 94.45, 13.86],
 [35.38, 86.6, 18.58],
 [40.07, 88.28, 11.93],
 [39.52, 93.59, 14.31],
 [35.93, 86.44, 17.49],
 [41.72, 88.08, 10.46],
 [38.69, 93.27, 14.71],
 [39.79, 98.15, 14.76],
 [37.31, 90.73, 15.49],
 [40.9, 89.52, 10.1],
 [35.66, 86.49, 18.95],
 [38.69, 96.51, 14.62],
 [35.1, 85.23, 16.9],
 [39.24, 95.04, 13.6],
 [39.52, 95.46, 12.72],
 [40.07, 88.15, 11.39],
 [35.38, 87.01, 18.7],
 [37.03, 88.58, 14.75],
 [37.59, 91.13, 14.89],
 [36.21, 89.67, 14.78],
 [40.9, 89.48, 11.94],
 [40.34, 89.77, 10.39],
 [34.0, 86.37, 17.9],
 [41.72, 88.08, 11.93],
 [38.41, 95.73, 12.53],
 [37.03, 89.77, 14.61],
 [41.45, 87.93, 10.14],
 [37.31, 88.18, 15.24],
 [35.38, 85.66, 18.58],
 [38.69, 92.81, 14.52],
 [35.93, 87.5, 17.21],
 [36.48, 90.27, 15.33],
 [40.07, 88.82, 10.87],
 [38.69, 97.36, 12.28],
 [37.86, 92.06, 15.04],
 [37.59, 89.81, 16.03],
 [35.93, 86.21, 18.46],
 [39.79, 94.27, 12.63],
 [37.59, 90.17, 15.84],
 [38.14, 95.02, 14.08],
 [41.45, 90.14, 11.6],
 [35.38, 87.1, 16.58],
 [34.55, 85.63, 16.61],
 [36.21, 88.86, 15.56],
 [38.97, 95.08, 12.39],
 [39.79, 97.81, 12.32],
 [38.41, 98.55, 12.48],
 [38.14, 98.24, 13.11],
 [36.76, 91.06, 16.32],
 [37.31, 90.72, 15.52],
 [38.41, 96.75, 14.5],
 [38.41, 95.69, 12.66],
 [41.17, 87.65, 11.46],
 [40.07, 89.28, 10.81],
 [40.9, 88.28, 10.64],
 [34.0, 85.17, 16.83],
 [35.1, 87.24, 18.75],
 [40.9, 89.5, 10.82],
 [38.41, 98.74, 13.75],
 [37.31, 88.6, 15.39],
 [35.1, 88.26, 17.21],
 [42.0, 88.6, 10.64],
 [35.1, 88.15, 17.69],
 [36.76, 88.43, 15.27],
 [35.1, 85.88, 17.96],
 [42.0, 88.92, 11.89],
 [39.79, 97.36, 13.28],
 [39.79, 98.15, 12.57],
 [34.83, 87.88, 17.89],
 [41.45, 88.99, 11.62],
 [40.34, 89.02, 11.16],
 [38.14, 95.8, 12.2],
 [37.31, 89.87, 16.24],
 [35.1, 85.81, 18.79],
 [35.1, 85.4, 17.83],
 [35.66, 86.15, 16.87],
 [36.48, 88.28, 15.59],
 [34.0, 87.52, 16.93],
 [35.93, 85.45, 18.1],
 [37.59, 90.48, 15.27],
 [40.9, 88.55, 10.67],
 [34.55, 87.75, 17.24],
 [38.41, 97.45, 14.1],
 [38.97, 98.01, 12.73],
 [39.79, 95.1, 12.61],
 [37.03, 90.17, 14.34],
 [35.1, 88.03, 16.78],
 [41.72, 90.05, 11.79],
 [40.9, 89.27, 11.34],
 [38.97, 97.16, 14.47],
 [37.86, 91.8, 16.11],
 [37.59, 90.39, 14.75],
 [35.1, 85.97, 17.3],
 [41.45, 89.33, 10.31]]

In [6]:
# STEP 5: CONVERTING LIST TO FINAL DATAFRAME

n1 = np.array(l1)

n1.shape

(151, 3)

In [7]:
col_name = ['Temperature(C)', 'Humidity(%)', 'Wind Speed(km/hr)']
df = pd.DataFrame(n1, columns= col_name)
df_t = df.sort_values(by = ['Temperature(C)'])
n2 = df_t.values
Weather_dataset = pd.DataFrame(n2, columns= col_name)
Weather_dataset
n2[151,0]

IndexError: index 151 is out of bounds for axis 0 with size 151

In [ ]:
Weather_dataset.iloc[132:151]

In [9]:
# STEP- 6: DATA OF RAIN (RAIN INDEX)
day = []
for i in range(0, 151):
    if n2[i,0] <= 36 and n2[i,2] > 16 and n2[i,2] <= 17.5:
        day.append('Sunny')
        continue
    elif n2[i,0] <= 36 and n2[i,2] > 16 and n2[i,2] <= 19:
        day.append('Overcast')
        continue
    elif n2[i,0] >= 36 and n2[i,0] <= 38 and n2[i,1] < 91 and n2[i,1] >= 88 and n2[i,2] > 14 and n2[i,2] <= 15.25:
        c = ('Rainy', 'Overcast', 'Sunny')
        cc = random.choice(c)
        day.append(cc)
        continue
    elif n2[i,0] >= 36 and n2[i,0] <= 38 and n2[i,1] < 92.3 and n2[i,1] >= 91 and n2[i,2] > 15.25 and n2[i,2] <= 16.5:
        c = ('Rainy', 'Overcast')
        cc = random.choice(c)
        day.append(cc)
        continue
    elif n2[i,0] >= 38 and n2[i,0] <= 40 and n2[i,1] <= 99 and n2[i,1] >= 93 and n2[i, 2] > 12 and n2[i,2] <= 13.25:
        day.append('Rainy')
        continue
    elif n2[i,0] >= 38 and n2[i,0] <= 40 and n2[i,1] <= 99 and n2[i,1] >= 93 and n2[i, 2] > 13.25 and n2[i,2] <= 14.5:
        c = ('Rainy', 'Overcast')
        cc = random.choice(c)
        day.append(cc)
        continue
    elif n2[i,0] >= 40 and n2[i,0] <=42 and n2[i,1] <= 90 and n2[i,1] >= 86 and n2[i,2] > 10 and n2[i,2] <= 11.25:
        c = ('Rainy', 'Overcast', 'Sunny')
        cc = random.choice(c)
        day.append(cc)
        continue
    elif n2[i,0] >= 40 and n2[i,0] <=42 and n2[i,1] <= 90 and n2[i,1] >= 86 and n2[i,2] > 11.25 and n2[i,2] <= 12.25: 
        c = ('Sunny', 'Overcast')
        cc = random.choice(c)
        day.append(cc)
        continue
    else:
        c= ('Sunny', 'Overcast', 'Rainy')   # To much entropy to sort....
        cc = random.choice(c)
        day.append(cc)
        continue

day

['Sunny',
 'Overcast',
 'Overcast',
 'Sunny',
 'Overcast',
 'Sunny',
 'Sunny',
 'Sunny',
 'Sunny',
 'Overcast',
 'Sunny',
 'Sunny',
 'Overcast',
 'Overcast',
 'Overcast',
 'Overcast',
 'Overcast',
 'Sunny',
 'Overcast',
 'Sunny',
 'Sunny',
 'Overcast',
 'Overcast',
 'Overcast',
 'Sunny',
 'Overcast',
 'Overcast',
 'Sunny',
 'Sunny',
 'Sunny',
 'Overcast',
 'Sunny',
 'Sunny',
 'Overcast',
 'Overcast',
 'Overcast',
 'Overcast',
 'Overcast',
 'Overcast',
 'Overcast',
 'Sunny',
 'Sunny',
 'Overcast',
 'Rainy',
 'Rainy',
 'Sunny',
 'Rainy',
 'Overcast',
 'Overcast',
 'Overcast',
 'Overcast',
 'Overcast',
 'Overcast',
 'Sunny',
 'Sunny',
 'Overcast',
 'Sunny',
 'Overcast',
 'Rainy',
 'Overcast',
 'Sunny',
 'Rainy',
 'Sunny',
 'Rainy',
 'Rainy',
 'Sunny',
 'Overcast',
 'Overcast',
 'Overcast',
 'Rainy',
 'Rainy',
 'Rainy',
 'Rainy',
 'Overcast',
 'Rainy',
 'Overcast',
 'Rainy',
 'Rainy',
 'Rainy',
 'Overcast',
 'Rainy',
 'Sunny',
 'Overcast',
 'Rainy',
 'Rainy',
 'Overcast',
 'Overcast',
 'Overcast',
 'Overcast',
 'Rainy',
 'Rainy',
 'Rainy',
 'Rainy',
 'Overcast',
 'Rainy',
 'Rainy',
 'Rainy',
 'Overcast',
 'Rainy',
 'Overcast',
 'Rainy',
 'Rainy',
 'Rainy',
 'Rainy',
 'Rainy',
 'Rainy',
 'Overcast',
 'Sunny',
 'Overcast',
 'Sunny',
 'Overcast',
 'Sunny',
 'Sunny',
 'Overcast',
 'Overcast',
 'Rainy',
 'Sunny',
 'Sunny',
 'Overcast',
 'Overcast',
 'Overcast',
 'Rainy',
 'Rainy',
 'Sunny',
 'Rainy',
 'Sunny',
 'Overcast',
 'Overcast',
 'Overcast',
 'Sunny',
 'Sunny',
 'Sunny',
 'Overcast',
 'Rainy',
 'Sunny',
 'Sunny',
 'Sunny',
 'Rainy',
 'Rainy',
 'Rainy',
 'Rainy',
 'Sunny',
 'Sunny',
 'Sunny',
 'Rainy',
 'Overcast',
 'Overcast',
 'Sunny',
 'Sunny',
 'Overcast',
 'Sunny']

In [10]:
s = pd.Series(day)
s
n3 = s.values
n3

array(['Sunny', 'Overcast', 'Overcast', 'Sunny', 'Overcast', 'Sunny',
       'Sunny', 'Sunny', 'Sunny', 'Overcast', 'Sunny', 'Sunny',
       'Overcast', 'Overcast', 'Overcast', 'Overcast', 'Overcast',
       'Sunny', 'Overcast', 'Sunny', 'Sunny', 'Overcast', 'Overcast',
       'Overcast', 'Sunny', 'Overcast', 'Overcast', 'Sunny', 'Sunny',
       'Sunny', 'Overcast', 'Sunny', 'Sunny', 'Overcast', 'Overcast',
       'Overcast', 'Overcast', 'Overcast', 'Overcast', 'Overcast',
       'Sunny', 'Sunny', 'Overcast', 'Rainy', 'Rainy', 'Sunny', 'Rainy',
       'Overcast', 'Overcast', 'Overcast', 'Overcast', 'Overcast',
       'Overcast', 'Sunny', 'Sunny', 'Overcast', 'Sunny', 'Overcast',
       'Rainy', 'Overcast', 'Sunny', 'Rainy', 'Sunny', 'Rainy', 'Rainy',
       'Sunny', 'Overcast', 'Overcast', 'Overcast', 'Rainy', 'Rainy',
       'Rainy', 'Rainy', 'Overcast', 'Rainy', 'Overcast', 'Rainy',
       'Rainy', 'Rainy', 'Overcast', 'Rainy', 'Sunny', 'Overcast',
       'Rainy', 'Rainy', 'Overcast', 'Overcast', 'Overcast', 'Overcast',
       'Rainy', 'Rainy', 'Rainy', 'Rainy', 'Overcast', 'Rainy', 'Rainy',
       'Rainy', 'Overcast', 'Rainy', 'Overcast', 'Rainy', 'Rainy',
       'Rainy', 'Rainy', 'Rainy', 'Rainy', 'Overcast', 'Sunny',
       'Overcast', 'Sunny', 'Overcast', 'Sunny', 'Sunny', 'Overcast',
       'Overcast', 'Rainy', 'Sunny', 'Sunny', 'Overcast', 'Overcast',
       'Overcast', 'Rainy', 'Rainy', 'Sunny', 'Rainy', 'Sunny',
       'Overcast', 'Overcast', 'Overcast', 'Sunny', 'Sunny', 'Sunny',
       'Overcast', 'Rainy', 'Sunny', 'Sunny', 'Sunny', 'Rainy', 'Rainy',
       'Rainy', 'Rainy', 'Sunny', 'Sunny', 'Sunny', 'Rainy', 'Overcast',
       'Overcast', 'Sunny', 'Sunny', 'Overcast', 'Sunny'], dtype=object)

In [17]:
Weather_dataset['Forecast'] = s
Weather_dataset

     Temperature(C)  Humidity(%)  Wind Speed(km/hr)  is_train  Forecast
0             34.00        85.17              16.83      True     Sunny
1             34.00        85.78              17.68      True  Overcast
2             34.00        86.41              18.46      True  Overcast
3             34.00        87.52              16.93      True     Sunny
4             34.00        86.37              17.90      True  Overcast
..              ...          ...                ...       ...       ...
146           41.72        88.08              10.46      True  Overcast
147           41.72        87.85              10.48     False     Sunny
148           42.00        88.95              11.05      True     Sunny
149           42.00        88.92              11.89     False  Overcast
150           42.00        88.60              10.64      True     Sunny

[151 rows x 5 columns]

In [19]:
# STEP 7 : CREATING THE RANDOM FOREST TREE
from sklearn.ensemble import RandomForestClassifier

np.random.seed(0)

# Creating Test and Train data
Weather_dataset['is_train'] = np.random.uniform(0,1, len(df)) <= .75   # Randomly selecting 75% of the dataset for training
Weather_dataset.head()

   Temperature(C)  Humidity(%)  Wind Speed(km/hr)  is_train  Forecast
0            34.0        85.17              16.83      True     Sunny
1            34.0        85.78              17.68      True  Overcast
2            34.0        86.41              18.46      True  Overcast
3            34.0        87.52              16.93      True     Sunny
4            34.0        86.37              17.90      True  Overcast

In [20]:
# Creating dataframes with train and test rows
train, test = Weather_dataset[Weather_dataset['is_train']==True], Weather_dataset[Weather_dataset['is_train']==False]

print('Number of data for train ',len(train))
print('Number of data for test ',len(test))

Number of data for train  119
Number of data for test  32

In [21]:
# Creating a list of the feature column's names
features = Weather_dataset.columns[:3]
features

Index(['Temperature(C)', 'Humidity(%)', 'Wind Speed(km/hr)'], dtype='object')

In [22]:
# Converting each forecast into digits
y = pd.factorize(train['Forecast'])[0]
y

array([0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 2, 2, 0, 2, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       2, 1, 0, 2, 0, 2, 2, 0, 1, 2, 2, 1, 2, 1, 2, 2, 2, 1, 2, 0, 1, 2,
       2, 1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 0, 1,
       1, 0, 1, 2, 0, 1, 1, 2, 0, 2, 0, 1, 1, 1, 0, 0, 0, 1, 2, 0, 0, 0,
       2, 2, 2, 0, 0, 1, 1, 0, 0], dtype=int64)

In [23]:
# Creating a random forest classifier
clf = RandomForestClassifier(n_jobs = 2, random_state= 0)

# Training the classifier
clf.fit(train[features], y)

RandomForestClassifier(n_jobs=2, random_state=0)

In [24]:
# Applying the trained Classifier to the test
clf.predict(test[features])

array([0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 2, 2, 1, 1, 2, 2, 2, 2, 1,
       1, 1, 0, 2, 1, 2, 0, 2, 1, 0], dtype=int64)

In [25]:
# Mapping names for the plants for each predicted plant class
preds = n3[clf.predict(test[features])]
preds

array(['Sunny', 'Sunny', 'Sunny', 'Overcast', 'Sunny', 'Overcast',
       'Sunny', 'Sunny', 'Overcast', 'Overcast', 'Sunny', 'Overcast',
       'Sunny', 'Overcast', 'Overcast', 'Overcast', 'Overcast',
       'Overcast', 'Overcast', 'Overcast', 'Overcast', 'Overcast',
       'Overcast', 'Overcast', 'Sunny', 'Overcast', 'Overcast',
       'Overcast', 'Sunny', 'Overcast', 'Overcast', 'Sunny'], dtype=object)

In [26]:
# Creating the confusion matrix
pd.crosstab(test['Forecast'], preds, rownames= ['Actual Forecast'], colnames= ['Predicted Forecast'])

Predicted Forecast  Overcast  Sunny
Actual Forecast
Overcast                   9      2
Rainy                      8      0
Sunny                      4      9

In [29]:
# Let create two inputs
a = [36, 88, 15.2]


pred = n3[clf.predict([a])]
pred

array(['Sunny'], dtype=object)